header{
    width: 100%;
    height: absolute;
    background: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    color: white;
    font-size: 2em;
    font-weight: bolder;
}

.nav {
    display: flex;
    align-items: center;
    font-size: 1em;
    position: absolute;
    left: 50%;
    margin-left: -170px;
}

.nav ol {
    display: flex;
    list-style: none;
}

.nav ol li {margin: 1em;}

.nav ol li a{
    text-decoration: none;
}

.nav ol li a:hover {color: rgb(83, 54, 150);}

.btn {
    position: relative;
    width: 25px;
    height: 25px;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    display: none;
}



a:link {
    color: white;
}

a:visited {
    color: white;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.logosize {
    font-size: 2em;
    letter-spacing: -5px;
    padding-bottom: 20px;
}

.lower-center {
    position: absolute;
    top: 52%;
    left: 50%;
    margin-left: -80px;
    line-height: 18px;
    text-align: center;
}

.location-text {
    font-size: 15px;
}

footer {
    text-decoration: none;
    font-size: 1em;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -135px;
    height: 4rem;
    display: flex;
    justify-content: center;
}

.footer ol {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer ol li {
    margin: 1em;
}

.footer ol li a{
    text-decoration: none;
}

.footer ol li a:hover {color: rgb(83, 54, 150);}

  
#typewriter {
    border-right: solid 3px rgba(0,255,0,.75);
    white-space: nowrap;
    overflow: hidden;    
    font-family: Arial, Helvetica, sans-serif;  
    font-size: 65;
    color: rgb(255, 255, 255);
  }
  
  /* Animation */
  #typewriter {
    animation: animated-text 2s steps(29) 1s 1 normal both,
               animated-cursor 600ms steps(29) infinite;
  }
  
  /* text animation */
  @keyframes animated-text{
    from{width: 0;}
    to{width: 235px;}
  }
  
  /* cursor animations */
  @keyframes animated-cursor{
    from{border-right-color: rgb(255, 255, 255);}
    to{border-right-color: transparent;}
  }


